# Population

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import preprocessing
from sklearn.metrics.pairwise import cosine_similarity

import pickle as pk

jtplot.style(figsize=(15, 9))

## Data

In [2]:
map_data = pd.read_csv('../data/SHR65_22.csv', index_col=0)
map_data.head()

,CNTYFIPS,Ori,State,Agency,Agentype,Source,Solved,Year,Month,Incident,...,OffRace,OffEthnic,Weapon,Relationship,Circumstance,Subcircum,VicCount,OffCount,FileDate,MSA
ID,,,,,,,,,,,,,,,,,,,,,
197601001AKASP00,"Juneau, AK",AKASP00,Alaska,State Troopers,Primary state LE,FBI,Yes,1976,January,1,...,American Indian or Alaskan Native,Unknown or not reported,Knife or cutting instrument,Husband,Other arguments,NaN,0,0,30180.0,Rural Alaska
197601001AL00102,"Jefferson, AL",AL00102,Alabama,Birmingham,Municipal police,FBI,Yes,1976,January,1,...,Black,Unknown or not reported,Shotgun,Acquaintance,Felon killed by private citizen,Felon killed in commission of a crime,0,0,30180.0,"Birmingham-Hoover, AL"
197601001AL00104,"Jefferson, AL",AL00104,Alabama,Fairfield,Municipal police,FBI,Yes,1976,January,1,...,Black,Unknown or not reported,Shotgun,Wife,Other,NaN,0,0,30180.0,"Birmingham-Hoover, AL"
197601001AL00106,"Jefferson, AL",AL00106,Alabama,Leeds,Municipal police,FBI,Yes,1976,January,1,...,Black,Unknown or not reported,Knife or cutting instrument,Brother,Other arguments,NaN,0,0,30180.0,"Birmingham-Hoover, AL"
197601001AL00201,"Mobile, AL",AL00201,Alabama,Mobile,Municipal police,FBI,Yes,1976,January,1,...,White,Unknown or not reported,Strangulation - hanging,Acquaintance,Circumstances undetermined,NaN,0,0,30180.0,"Mobile, AL"

In [19]:
pop = pd.read_csv('../data/US_states_population.csv', index_col=0)
pop.head()

              population
California      38965193
Texas           30503301
Florida         22610726
New York        19571216
Pennsylvania    12961683

In [20]:
no = map_data[map_data['Solved']=='No'].groupby(['State']).count()['Ori'].to_frame()
no.rename(columns={'Ori': 'Solved'}, inplace=True)

yes = map_data[map_data['Solved']=='Yes'].groupby(['State']).count()['Ori'].to_frame()
yes.rename(columns={'Ori': 'Not Solved'}, inplace=True)

full = map_data.groupby(['State']).count()['Ori'].to_frame()
full.rename(columns={'Ori': 'All Cases'}, inplace=True)

In [21]:
pd.concat([pop, full, yes, no], axis=1)

                      population  All Cases  Not Solved  Solved
California              38965193     127601       80704   46897
Texas                   30503301      84035       64946   19089
Florida                 22610726      50047       35866   14181
New York                19571216      62028       34379   27649
Pennsylvania            12961683      32725       23749    8976
Illinois                12549689      38305       23029   15276
Ohio                    11785935      27510       19417    8093
Georgia                 11029227      28825       21159    7666
North Carolina          10835491      28413       22706    5707
Michigan                10037261      37851       25707   12144
New Jersey               9290841      18307       11693    6614
Virginia                 8715698      21767       17178    4589
Washington               7812880      10783        8454    2329
Arizona                  7431344      17448       12738    4710
Tennessee                7126489      21383       17561    3822
Massachusetts            7001399       8013        5171    2842
Indiana                  6862199      16167       10854    5313
Missouri                 6196156      21707       13999    7708
Maryland                 6180253      22986       13420    9566
Wisconsin                5910955       9275        7639    1636
Colorado                 5877610       9723        7958    1765
Minnesota                5737915       5798        4758    1040
South Carolina           5373555      17121       15158    1963
Alabama                  5108468      17659       13515    4144
Louisiana                4573749      26990       18787    8203
Kentucky                 4526154      10442        8048    2394
Oregon                   4233358       5912        4862    1050
Oklahoma                 4053824      12204       10208    1996
Connecticut              3617176       6354        4262    2092
Utah                     3417734       2882        2496     386
Iowa                     3207004       2657        2281     376
Nevada                   3194176       7806        5558    2248
Arkansas                 3067732       9874        8282    1592
Kansas                   2940546       4521        3724     797
Mississippi              2939690       8773        7313    1460
New Mexico               2114371       5992        4482    1510
Nebraska                 1978379       1940        1599     341
Idaho                    1964726       1706        1555     151
West Virginia            1770071       4267        3808     459
Hawaii                   1435138       1859        1448     411
New Hampshire            1402054        939         800     139
Maine                    1395722       1244        1117     127
Montana                  1132812       1088         994      94
Rhodes Island            1095962       1551        1062     489
Delaware                 1031890       1836        1409     427
South Dakota              919318        797         740      57
North Dakota              783926        567         536      31
Alaska                    733406       2340        1936     404
Vermont                   647464        578         509      69
Wyoming                   584057        904         807      97
District of Columbia     5490000       9436        3687    5749