# Population

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import preprocessing
from sklearn.metrics.pairwise import cosine_similarity

import pickle as pk

jtplot.style(figsize=(15, 9))

## Data

In [2]:
map_data = pd.read_csv('../data/SHR65_22.csv', index_col=0)
map_data.head()

,CNTYFIPS,Ori,State,Agency,Agentype,Source,Solved,Year,Month,Incident,...,OffRace,OffEthnic,Weapon,Relationship,Circumstance,Subcircum,VicCount,OffCount,FileDate,MSA
ID,,,,,,,,,,,,,,,,,,,,,
197601001AKASP00,"Juneau, AK",AKASP00,Alaska,State Troopers,Primary state LE,FBI,Yes,1976,January,1,...,American Indian or Alaskan Native,Unknown or not reported,Knife or cutting instrument,Husband,Other arguments,NaN,0,0,30180.0,Rural Alaska
197601001AL00102,"Jefferson, AL",AL00102,Alabama,Birmingham,Municipal police,FBI,Yes,1976,January,1,...,Black,Unknown or not reported,Shotgun,Acquaintance,Felon killed by private citizen,Felon killed in commission of a crime,0,0,30180.0,"Birmingham-Hoover, AL"
197601001AL00104,"Jefferson, AL",AL00104,Alabama,Fairfield,Municipal police,FBI,Yes,1976,January,1,...,Black,Unknown or not reported,Shotgun,Wife,Other,NaN,0,0,30180.0,"Birmingham-Hoover, AL"
197601001AL00106,"Jefferson, AL",AL00106,Alabama,Leeds,Municipal police,FBI,Yes,1976,January,1,...,Black,Unknown or not reported,Knife or cutting instrument,Brother,Other arguments,NaN,0,0,30180.0,"Birmingham-Hoover, AL"
197601001AL00201,"Mobile, AL",AL00201,Alabama,Mobile,Municipal police,FBI,Yes,1976,January,1,...,White,Unknown or not reported,Strangulation - hanging,Acquaintance,Circumstances undetermined,NaN,0,0,30180.0,"Mobile, AL"

In [27]:
pop = pd.read_csv('../data/US_states_population.csv', index_col=0)
pop.head()

              population
California      38965193
Texas           30503301
Florida         22610726
NewYork         19571216
Pennsylvania    12961683

In [28]:
pop.dtypes

population    int64
dtype: object

In [32]:
pd.merge(map_data.groupby('State').count()['Ori'].to_frame(), pop, left_index=True, right_index=True)

                  Ori  population
Alabama         17659     5108468
Alaska           2340      733406
Arizona         17448     7431344
Arkansas         9874     3067732
California     127601    38965193
Colorado         9723     5877610
Connecticut      6354     3617176
Delaware         1836     1031890
Florida         50047    22610726
Georgia         28825    11029227
Hawaii           1859     1435138
Idaho            1706     1964726
Illinois        38305    12549689
Indiana         16167     6862199
Iowa             2657     3207004
Kansas           4521     2940546
Kentucky        10442     4526154
Louisiana       26990     4573749
Maine            1244     1395722
Maryland        22986     6180253
Massachusetts    8013     7001399
Michigan        37851    10037261
Minnesota        5798     5737915
Mississippi      8773     2939690
Missouri        21707     6196156
Montana          1088     1132812
Nebraska         1940     1978379
Nevada           7806     3194176
Ohio            27510    11785935
Oklahoma        12204     4053824
Oregon           5912     4233358
Pennsylvania    32725    12961683
Tennessee       21383     7126489
Texas           84035    30503301
Utah             2882     3417734
Vermont           578      647464
Virginia        21767     8715698
Washington      10783     7812880
Wisconsin        9275     5910955
Wyoming           904      584057